{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}

    <div style="width: 90%; max-width: 1200px">
    <canvas id="myChart"></canvas>
    </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='chart.bundle.js') }}"></script>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'HV71',
            data: [
              {x: 0, y: 0},
              {x: 1, y: 3},
              {x: 2, y: 6},
              {x: 3, y: 8},
              {x: 4, y: 8},
              {x: 5, y: 11}
            ],
            backgroundColor: 'rgba(99, 99, 232, 0.2)',
            borderColor: 'rgba(99, 99, 232, 1)',
            borderWidth: 1,
            lineTension: 0
        },
        {
            label: 'BIF',
            data: [
              {x: 0, y: 0},
              {x: 1, y: 0},
              {x: 2, y: 0},
              {x: 3, y: 1},
              {x: 4, y: 4},
              {x: 5, y: 4}
            ],
            backgroundColor: 'rgba(199, 99, 99, 0.2)',
            borderColor: 'rgba(199, 99, 99, 1)',
            borderWidth: 1,
            lineTension: 0
        }]
    },
    options: {
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero:true,
                    stepSize: 2,
                    max: 52
                },
                type: 'linear',
                position: 'bottom'
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    stepSize: 12,
                    max: 156
                }
            }]
        }
    }
});
</script>
{% endblock %}
